body {
    background-color: #444;
}


.texte {
     position: relative;
     top: 1px;
     left: 98%;
     font-weight: bold;
     text-decoration:none; 
     color: black;
     font-size: 30px;
} 

.texte:hover {
    background-color: #02b8dd;
}

.box {
    width: 300px;
    margin: 13%;
    padding: 13%;
  }